* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 100%/1.5em Arial, Helvetica, sana-serif;
    color: #202020;
    background-color: #cbded5;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 70px; /*if use nav-bar*/
}



/*Flexible media*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.centered {
    text-align: center;
}

#resume {
    color: #999;
    font-size: 20px;
    padding: 15px;
    line-height: 20px;
}

a {
    color: #ff7878 !important;
    font-size: 16px;
}

h1 {
    margin-top: 40px;
    color: black;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

/*.navbar {*/
    /*margin: 0;*/
    /*height: 50px;*/
/*}*/

/*.navbar .container, .navbar-collapse, .navbar-header{*/
    /*height: 50px;*/
    /*margin: 0;*/
/*}*/

.navbar-collapse .nav > li > a:hover {
    color: #bdbdbd !important;
    outline: 0;
}


.navbar-inverse {
    background: #042b2d;
    border-color: #042b2d;
}

.navbar-inverse .navbar-nav >.active >a {
    background-color: #ff7878;
}

    /*flexible background*/
#headerwrap {
    /*max-width: 100%;*/
    background: url(../img/shut.jpg) no-repeat top center;
    margin-top: -60px;
    padding-top: 20px;
    /*text-align: center;*/
    background-attachment: scroll;
    background-position: center center;
    min-height: 320px;
    /*background-size: 100%;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*opacity: 0.6;*/

}

.avatar {
    border-radius: 20%;
    float: left;
    overflow: hidden;
    border: 2px solid #cccccc;
    margin-top: 45px;
    margin-right: 30px;
}

.but_ml{
    display: inline-block;
    float: right;
    border: none;
    margin-top: 31px;
    background-color: #51407c;
    padding: 6px 8px;
    box-shadow: 0 4px 0 #280661;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all .25s ease;

}
.but_ml:hover, .but_ml:focus {
    color: #bdbdbd! important;
    text-decoration: none;
    background-color: #614f92;
}

.but_ml:active {
    background-color: #280661;
    transform: translateY(3px);
    text-decoration: none;
}

#headerwrap ul {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

#telegram {
    color: black !important;
    font-weight:bold;
    text-decoration: none;
}

hr {
    border-top: 1px solid black !important;
}

figure {
    position: relative;
}

figure img,
figure video,
figure object,
figure embed {
    display: block;
    max-width: 100%;
}

#work {
    margin-top: 50px;
}

#work .col-lg-8 h4 {
    font-weight:bold;
}

#work li {
    font-size: 16px;
}

 p {
    font-size: 16px;
}

 #education {
     margin-top: 50px;
 }

#education ul {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.irgtu {
    border-radius: 45%;
    float: left;
    overflow: hidden;
    border: 2px solid #cccccc;
    margin-top: 15px;
    margin-right: 30px;
}

#about_me {
    margin-top: 50px;
}

/*.main{*/
    /*margin: 0 30px auto;*/
/*}*/

/*.slick-next {*/
    /*right: 5px;*/
/*}*/

/*.slick-prev {*/
    /*left: -10px;*/
/*}*/

#footer{
    background: #2d2d2d;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer i{
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
}

#footer i:hover {
    color: #ff7878;
}


@media screen and (max-width: 767px) {
     h1{
        font-size: 34px;
    }
}

.hidden {
    display: none;
}

/*#form{*/
    /*padding: 50px 20px;*/
    /*max-width: 500px;*/
    /*margin: auto;*/
    /*position: relative;*/
    /*background: url("../img/later.JPG") no-repeat top center;*/
    /*background-position: center;*/
/*}*/

#message-text {
    max-height: 80px;
    max-width: 200px;
}
/*.mfp-content .mfp-close {*/
    /*color: #cccccc;*/
/*}*/

.top {
    position: fixed;
    bottom: 25px;
    right: -100px;
    background-color: #e0e0e0;
    z-index: 12;
    border-radius: 10em;
    color: #666;
    font-size: 26px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all .3s ease;
    opacity: .5;
}

.top i {
    line-height: 0;
}

.top:hover {
    color: #fff;
    background-color: #FE5F58;
    opacity: 1;
}

.top:active {
    right: 125px;
}